html{
    scroll-behavior: smooth;
}
:root {
    --yellow: #FFFF33;
    --lightblue: #00AFB9A0;
    --blue: #0081A7B9;
    --red: #FF2B2E;
    --green: #84FF93;
    --greenopacity: #84FF93A0;
    --pink:rgb(244, 161, 255) ;
    --bigfont: "Alfa Slab One", serif;
    --mainfont: "Jersey 20", sans-serif, "Belanosima",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
} 
@media screen and (min-width: 1100px){
.mediaquery2{
    display: none;
}
.navbar{
    border-radius: 0px 0px 20px 20px;
}
.navbar a{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
}
@media screen and (min-width:1400px){

.projectmobile{
    display:none;
}  
}
@media screen and (max-width: 1400px){
     .mediaquery{
    display:none;
}  
.navbar a{
    border-radius: 5px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
}
.bannermedia{
    position: relative;
    top: 55px;
    display:inline; 
}
.leftfl{
    position: fixed;
    left: -18vw;
}
.rightfl{
    position: fixed;
    right: -18vw !important;
}

    }
body{
    font-family: var(--mainfont);
}
    /*General*/
.flexcenter{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.font{
    display: block;
    font-family: var(--mainfont);
    text-align: center;
    color:var(--pink);
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
}
body{
    --width-of-content: min(600px, 100vw);
    background:
    url("/IMAGES/maskbackground.jpg") center/  5vw repeat;
    background-color: black;
}
.brand-logo{
    display: block;
    margin: 10px auto auto auto;
    width: 210px;
    max-width: 50%;
}
.overflow{
    position: fixed;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 4vw;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    pointer-events: none;
}
.sideborder{
    background-image: url(IMAGES/sideborderrepeat1.png);
    background-position: left;
    background-size: contain;
    position: fixed;
    top: 30px;
    width: 400px;
    max-width: 48%;
    height: 97%;
    pointer-events: none;
    image-rendering: pixelated;
}
.sideborder1{
    background-image: url(IMAGES/sideborderrepeat2.png);
    background-position: right;
    background-size: contain;
    position: fixed;
    top: 30px;
    right: 0px;
    width: 400px;
    max-width: 48%;
    height: 97%;
    pointer-events: none;
    image-rendering: pixelated;
}
.tborder{
    position: absolute;
    width: 2000px;
    max-width: 300%;
    top: 0px;
    left: 0px;
    height: 200px;
    max-height: 30vw;
    pointer-events: none;
    image-rendering: pixelated;
}
.bborder{
    position: absolute;
    width: 2000px;
    max-width: 400%;
    bottom: 0px;
    left: 0px;
    height: 200px;
    max-height: 50vw;
    pointer-events: none;
    image-rendering: pixelated;
}

    /* Hover */
.header a:hover {
    background-color: var(--lightblue);
    color: black;
}
a.socials-links:hover{
    text-align: left;
    text-decoration: none;
    color: var(--green);
}
a.music-links:hover{
    text-decoration: none;
    color:var(--yellow);
}
    /* Header */
.header {
    display: block;
    overflow: hidden;
    width: 98%;
    max-width: 1500px;
    margin: auto;
    padding-bottom: 6vw;
}
.headercenter {
    display: block;
    text-align: center;
}
.logo{   
    background-image: url(IMAGES/background.jpg);
    background-position: bottom;
    border-style:solid;
    border-color:black;
    border-radius: 30px;
    border-width: 6px;
}
.rcmusiclogo{
    display: block;
    margin: auto;
    width: 450px;
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.navbar{
    background-color: black;
}
.navbar a{
    font-family: (var(--mainfont));
    font-size: 1.5rem;
    text-align: center;
    color: var(--lightblue); 
    text-decoration: none;

}
    /* Single */
.banner{
    margin: auto;
    width: 90%;
    max-width: 60%;
    min-height: 80px;
    padding-top: 8vw;
    image-rendering: pixelated;
}
.spotifyrelease{
    padding-top: 50px;
    display: inline-block;
    margin: 0;
    width: 1000px;
    max-width: 60%;
    height: 152px;
    max-height:min-content;
}
    /*Border*/
.creditsbox{
    background-color: var(--lightblue);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 30px;
    width: 55vw;
    max-width: 60%;
    border-style:solid;
    border-width: .4vw;
    border-color:var(--blue);
    overflow:auto;
    scroll-margin-top: 400px;
}
.main-border{    
    position: relative;
    background-size: contain;
    background-image: url(IMAGES/lake.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    max-width: 1500px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 4vw;
    transform: translate3d(0,0,0);
    image-rendering: auto;
}
.border{
    background-color: var(--lightblue);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 30px;
    width: 55vw;
    max-width: 60%;
    border-style:solid;
    border-width: .4vw;
    border-color:var(--blue);
    overflow:visible;
    scroll-margin-top: 400px;
}

    /*BIO THINGS*/
.bio-pic{
    display: block;
    width: 400px;
    max-width: 95%;
    border-style:solid;
    border-color:var(--red);
    margin: auto;
    text-align: center;
    image-rendering:auto;
}
.bio-text{
    display: block;
    text-align: center;
    color:white;
    font-family: var(--mainfont);
    font-size: 2rem;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    padding: 0px;
    margin: 0px;
    margin-top: 10px;

}
    /* PROJECT */
.youtubelogo{
    display: block;
    max-width: 20vw;
    margin: auto;
    text-align: center;
}
.projectmobile1{
    display: flex;
    max-width: 50vw;
    border-style:solid;
    border-color:var(--pink);
    margin: auto;
    image-rendering:auto;
}
.embed-socials{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.bandcamp {
    position: relative;
    width: 315px;
    height: 315px;
    max-height: 55vw;
    max-width: 100% !important;
}
.instagram-media{
    width: 315px; 
    height: 315px;
    max-height: 70vw;
    overflow: scroll;
}
iframe.instagram-media {
    max-width: 100% !important;
    min-width: auto !important;
}
    /*Copyright*/
.copyrightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}
.copyright{
    padding-top: 0px;
    border: white 3px solid;
    color: white;
    width: 200px;
    height: 210px;
    background-image: url(IMAGES/RC_LOGObrick.jpg);
    background-size: contain;
    background-position: bottom;
    image-rendering:auto;
}
.copyrighttext{
    position: relative;
    border: red 4px;
    background-color: rgb(0, 0, 0, 1);
    top: -23px;
    font-size: 1.43rem;
    text-align: center;
} 
   /* Credits */
.togCheck { display: none; 
}
.togContent {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.togCheck:checked + .togContent {
     max-height: 100vh; 
     opacity: 1;
     visibility: visible;
}
.togButton {
    display: block;
    width: 500px;
    background: var(--lightblue);
    cursor: pointer;
}
.togContent { 
    background: var(--blue); 
    width: 500px;
}
.togContent p {
    padding: 50px 10px;
    margin: 0;
}
/* LINK and TEXT */
.center{
    text-align: center;
}
.artist-links{
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
    width: 200px;
    font-family: var(--mainfont);
    text-decoration: none;
    background-image: url(IMAGES/flowerbedborder.jpg);
    background-size: cover;
    image-rendering: auto;
}
.artist-socials{
    display: block;
    text-align:left;
    text-decoration: none;
}
a.socials-links{
    font-size: 2rem;
    filter: drop-shadow(2px 2px black);
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--yellow);
    height: 50px;
}
a.music-links{
    font-size: 2rem;
    filter: drop-shadow(2px 2px black);
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--green);
    height: 50px;
}
.brand-logos{
    width: 1.5rem;
    background-color: white;
    border-radius: 1vw;
}
.htext{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--mainfont);
    color: var(--red);
}
a.socktext{
    font-family: var(--mainfont);
    color: black;
    text-decoration: underline;
    filter: drop-shadow(2px 2px rgb(255, 255, 255));
}
a.socktext:hover{
    text-decoration: none;
    color: darkred;
}
.contacttext{
    display: block;
    text-align: center;
    color:white;
    font-family: var(--mainfont);
    font-size: 30px;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 2em;
    line-height: 1em;
    padding-bottom: 100px;
}

/*VIDEO*/


.video {
    
    width:710px; 
	height:400px;  
	background:transparent url('') no-repeat 0 0; 
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	-o-background-size:cover; 
	background-size:cover; 
}
.csslider {
        -moz-perspective: 1300px;
        -ms-perspective: 1300px;
        -webkit-perspective: 1300px;
        perspective: 1300px;
        display: inline-block;
        text-align: left;
        position: relative;
        margin-bottom: 22px;
    }
    .csslider > input {
        display: none;
    }
    .csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
        margin-left: -200%;
    }
    .csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
        margin-left: -100%;
    }
    .csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
        margin-left: 0%;
    }
    .csslider > ul {
        position: relative;
        width: 710px;
        height: 420px;
        z-index: 1;
        font-size: 0;
        border: 10px solid var(--blue);
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .csslider > ul > li {
        position: relative;
        display: inline-block;
        width: 100%;
        bottom: 0px;
        overflow: hidden;
        font-size: 15px;
        font-size: initial;
        line-height: normal;
        -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        white-space: normal;
    }
    .csslider > .navigation {
        position: absolute;
        bottom: -8px;
        left: 50%;
        z-index: 10;
        margin-bottom: -10px;
        font-size: 0;
        line-height: 0;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .csslider > .navigation > div {
          margin-left: -100%;
    }
    .csslider > .navigation label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 4px;
        padding: 4px;
        background: var(--pink);
    }
    .csslider > .navigation label:hover:after {
        opacity: 1;
    }
    .csslider > .navigation label:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -6px;
        margin-top: -6px;
        background: var(--blue);
        border-radius: 50%;
        padding: 6px;
        opacity: 0;
    }
    .csslider > .arrows {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .csslider.inside .navigation {
        bottom: 10px;
        margin-bottom: 10px;
    }
    .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
    .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
    .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
    .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after{
        opacity: 1;
    }
    .csslider > .arrows {
        position: absolute;
        left: -31px;
        top: 50%;
        width: 100%;
        height: 26px;
        padding: 0 31px;
        z-index: 0;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    .csslider > .arrows label {
        display: none;
        position: absolute;
        top: -50%;
        padding: 13px;
        box-shadow: inset 4px -4px 0 1px var(--green);
        filter: drop-shadow(3px 3px rgb(0, 0, 0));
        cursor: pointer;
        -moz-transition: box-shadow 0.15s, margin 0.15s;
        -o-transition: box-shadow 0.15s, margin 0.15s;
        -webkit-transition: box-shadow 0.15s, margin 0.15s;
        transition: box-shadow 0.15s, margin 0.15s;
    }
    .csslider > .arrows label:hover {
        box-shadow: inset 3px -3px 0 2px var(--yellow);
        margin: 0 0px;
    }
    .csslider > .arrows label:before {
        content: '';
        position: absolute;
        top: -100%;
        left: -100%;
        height: 300%;
        width: 300%;
    }
    .csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
    .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
    .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
    .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
    .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3){
        display: block;
        left: 0;
        right: auto;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
    .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
    .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
    .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
    .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5){
        display: block;
        right: 0;
        left: auto;
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    ul {
        padding-left: 40px;
    }

        #slider1 {
        margin: 20px;
        font-family: 'Lato';
    }
    #slider1 > input:nth-of-type(3):checked ~ ul #bg {
        width: 80%;
        padding: 22px;
        -moz-transition: .5s .5s;
        -o-transition: .5s .5s;
        -webkit-transition: .5s .5s;
        transition: .5s .5s;
    }
    #slider1 > input:nth-of-type(3):checked ~ ul #bg div {
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
        -moz-transition: .5s .9s;
        -o-transition: .5s .9s;
        -webkit-transition: .5s .9s;
        transition: .5s .9s;
    }